@import '~antd/dist/antd.css';

.header-menu {
	max-width: 8em; /* блок занимает ширину родителя, max-width её ограничивает */
	min-height: 2em;
	margin-left: auto;
	margin-right: 10em;
}

.h100 {
	height: calc(100vh - 64px); 
}

.contacts-item {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
}